/* MAIN STYLES */

.settings-icon {
  font-size: 16pt;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
}

.bar.bar-stable {
  background-color: #00BCD4;
  color: #fff;
}

.bar.bar-stable .title {
    color: #fff;
}

/* HOME STYLES */

.item-divider {
  background-color: #eee;
}

.create-new {
  text-align: center;
  padding: 20px;
  color: #ccc;
}

.create-new i {
  font-size: 28pt;
}

.habit-cards a {
  text-decoration: none;
}

/* HABIT STYLES */


/* FORM STYLES */


/* LOGIN STYLES */
