/* MAIN STYLES */

.nav-icon {
  font-size: 12pt;
  margin-left: 6px;
}

.settings-icon {
  font-size: 14pt;
  margin-left: 6px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
}

.bar.bar-stable {
  background-color: #00BCD4;
  color: #fff;
}

.bar.bar-stable .title {
    color: #fff;
}

.button-main {
  background-color: #00BCD4;
  color: #fff;
}

.androidTitle {
  margin-left: 40px;
}

/* HOME STYLES */

.item-divider {
  background-color: #eee;
}

.create-new {
  text-align: center;
  padding: 20px;
  color: #ccc;
}

.create-new i {
  font-size: 28pt;
}

.habit-cards a {
  text-decoration: none;
}

.completed-icon {
  float: right;
  font-size: 18pt;
  color: #0091EA;
}

.incomplete-icon {
  float: right;
  font-size: 18pt;
  color: #FF9100;
}

/* HABIT STYLES */


/* FORM STYLES */


/* LOGIN STYLES */

.oauth-container {
  display: flex;
  align-items: center;
  vertical-align: center;
  flex-direction: column;
}

.oauth-button {
  width: 210px;
  margin-top: 14px;
  color: #fff;
}

.oauth-container i {
  margin-right: 14px;
}

.oauth-twitter {
  background-color: #1DA1F2;
}

.oauth-facebook {
  background-color: #3B5998;
}

.oauth-google {
  background-color: #DB4437;
}
