/* MAIN STYLES */

.nav-icon {
  font-size: 12pt;
}

.settings-icon {
  font-size: 14pt;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: #fff;
  padding-left: 10px;
  padding-right: 16px;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
  color: #fff;
}

.bar.bar-stable {
  background-color: #00BCD4;
  color: #fff;
}

.bar.bar-stable .title {
    color: #fff;
}

.button-main {
  background-color: #00BCD4;
  color: #fff;
}

.androidTitle {
  margin-left: 40px;
}

/* HOME STYLES */

.item-divider {
  background-color: #eee;
}

.create-new {
  text-align: center;
  padding: 20px;
  color: #ccc;
}

.create-new i {
  font-size: 28pt;
}

.habit-cards a {
  text-decoration: none;
}

.completed-icon {
  float: right;
  font-size: 18pt;
  color: #0091EA;
}

.incomplete-icon {
  float: right;
  font-size: 18pt;
  color: #FF9100;
}

/* HABIT STYLES */

.calendar-container {
  margin: 8px 10px;
}

.calendar-container calendar-md md-toolbar {
  background-color: #eee;
}

.calendar-container calendar-md {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.calendar-container calendar-md md-content {
  border: none;
}

.calendar-container .calendar-md-title {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}

.calendar-container md-toolbar md-icon {
  color: #000;
  fill: #000;
}

.calendar-container md-toolbar {
  border-bottom: 1px solid #ddd;
  min-height: 36px;
}

.calendar-container .md-toolbar-tools {
  height: 36px;
}

.calendar-container .layout-padding {
  position: relative;
}

.completedDay {
  width: 100%;
  height: 100%;
  background-color: rgba(49, 187, 104, 0.7);
  top: 0;
  right: 0;
  position: absolute;
}

/* FORM STYLES */


/* LOGIN STYLES */

.oauth-container {
  display: flex;
  align-items: center;
  vertical-align: center;
  flex-direction: column;
}

.oauth-button {
  width: 210px;
  margin-top: 14px;
  color: #fff;
}

.oauth-container i {
  margin-right: 14px;
}

.oauth-twitter {
  background-color: #1DA1F2;
}

.oauth-facebook {
  background-color: #3B5998;
}

.oauth-google {
  background-color: #DB4437;
}

.greeting {
  padding-top: 50px;
}

.set-tog {
  height:60px;
}
