<ion-header-bar class="bar-stable navbar">
    <h1 class="title">Edit</h1>
    <a href="/"><i class='icon ion-chevron-left nav-icon'></i></a>
</ion-header-bar>
<ion-content>
  <form ng-submit='ctrl.editHabit(habit, ctrl.time)'>
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input type="text" ng-model="habit.title">
    </label>
    <label class="item item-input">
      <span class="input-label">Description</span>
      <input type="text" ng-model="habit.desc">
    </label>
    <div class='notify'>
      <div class='item item-toggle'>
        Notifications
        <label class="toggle toggle-success">
          <input type="checkbox" ng-model="habit.sun">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class='button' ng-model='habit.time' value='ctrl.time' ng-click='ctrl.openTimePicker()'>
        <p>Reminder Time:   {{ ctrl.time || "set time here" }}</p>
      </div>
    </div>
    <ul class="list">
      <li class="item item-toggle">
         Sunday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="habit.sun">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Monday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="habit.mon">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Tuesday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="habit.tue">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Wednesday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="habit.wed">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Thursday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="habit.thu">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Friday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="habit.fri">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Saturday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="habit.sat">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
    <button type="submit" class="button button-main">Update Habit</button>
  </form>
</ion-content>
