<ion-header-bar class="bar-stable navbar">
    <h1 class="title">Edit</h1>
    <a href="/"><i class='icon ion-chevron-left nav-icon'></i></a>
</ion-header-bar>
<ion-content>
  <form ng-submit='ctrl.editHabit(habit)'>
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input type="text" ng-model="ctrl.habit.title">
    </label>
    <label class="item item-input">
      <span class="input-label">Description</span>
      <input type="text" ng-model="ctrl.habit.desc">
    </label>
    <div class='notify'>
      <div class='item item-toggle'>
        Notifications
        <label class="toggle toggle-success">
          <input type="checkbox" ng-model="ctrl.habit.notify" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class='button time-picker' ng-model='ctrl.habit.time' ng-click='ctrl.openTimePicker()'>
        <p>Reminder Time<span class="enter-time">{{ ctrl.habit.time || "set time here" }}</span></p>
      </div>
    </div>
    <ul class="list">
      <li class="item item-toggle">
         Sunday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="ctrl.habit.sun">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Monday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="ctrl.habit.mon">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Tuesday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="ctrl.habit.tue">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Wednesday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="ctrl.habit.wed">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Thursday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="ctrl.habit.thu">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Friday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="ctrl.habit.fri">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Saturday
         <label class="toggle toggle-success">
           <input type="checkbox" ng-model="ctrl.habit.sat">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
    <div class="button-container">
      <button type="submit" class="button button-main button-block">Update</button>
    </div>
  </form>
  <div class="button-container">
    <button class="button button-delete button-main button-block" ng-click="ctrl.deleteHabit(ctrl.habit.id)">Delete</button>
  </div>
</ion-content>
