<ion-header-bar class="bar-stable navbar">
  <h1 class="title" ng-class="{'androidTitle': platform == 'android'}">Happit</h1>
  <a href="/settings"><i class='icon ion-gear-a nav-icon settings-icon'></i></a>
</ion-header-bar>
<ion-content>
  <div class="card habit-cards" ng-repeat="habit in ctrl.allHabits | filter: title">
    <a ng-href="/habit/{{habit.id}}">
      <div class="item item-divider">
        {{habit.title}}
      </div>
    </a>
    <div ng-show="habit.completed" class="item item-text-wrap">
      <span>Great job!<span>
      <span class="completed-icon"><i class="icon ion-android-checkmark-circle" ng-click="ctrl.incompleteTask(habit.id)"></i></span>
    </div>
    <div ng-show="!habit.completed" class="item item-text-wrap">
      <span>Have you completed this today?<span>
      <span class="incomplete-icon"><i class="icon ion-android-radio-button-off" ng-click="ctrl.completeTask(habit.id)"></i></span>
    </div>
  </div>
  <a href="/new">
    <div class="card create-new">
      <i class="icon ion-plus"></i>
    </div>
  </a>
</ion-content>
