<ion-content>
  Happit Logo Here
  <div class="oauth-container">
    <div>
      <button class="button oauth-button oauth-twitter" type="button"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Twitter</button>
    </div>
    <div>
      <button ng-click='ctrl.fbLogin()' class="button oauth-button oauth-facebook" type="button"><i class="fa fa-twitter" aria-hidden="true"></i>Login with Facebook</button>
    </div>
    <div>
      <button ng-click='ctrl.googleLogin()' class="button oauth-button oauth-google" type="button"><i class="fa fa-google" aria-hidden="true"></i>Login with Google</button>
    </div>
  </div>
</ion-content>
