<div class="oauth-container">
  <div>
    <a href="/auth/twitter"><button class="button oauth-button oauth-twitter" type="button"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Twitter</button></a>
  </div>
  <div>
    <a href="/auth/facebook"><button class="button oauth-button oauth-facebook" type="button"><i class="fa fa-twitter" aria-hidden="true"></i>Login with Facebook</button></a>
  </div>
  <div>
    <a href="/auth/google"><button class="button oauth-button oauth-google" type="button"><i class="fa fa-google" aria-hidden="true"></i>Login with Google</button></a>
  </div>
</div>
