<form ng-submit="ctrl.newHabit()">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input type="text" ng-model="title">
    </label>
    <label class="item item-input">
      <span class="input-label">Description</span>
      <input type="text" ng-model="desc">
    </label>
    <label class="item item-input">
      <span class="input-label">Reminder Time</span>
      <input type="time" ng-model="time">
    </label>
    <ul class="list">
      <li class="item item-toggle">
         Sunday
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="sun">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Monday
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="mon">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Tuesday
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="tue">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Wednesday
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="wed">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Thursday
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="thu">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Friday
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="fri">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Saturday
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="sat">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
    <button type="submit" class="button button-main">Create Habit</button>
  </div>

</form>
