<ion-header-bar align-title="center" class='bar-stable navbar'>
  <h1 class='title'>Settings</h1>
  <a href="/"><i class='icon ion-chevron-left nav-icon'></i></a>
</ion-header-bar>
<ion-content>
  <form ng-submit='user.update(user)'>
    <label class="item item-input">
      <span class="input-label">First Name</span>
      <input type="text" ng-model="user.firstName">
    </label>
    <div class='item item-toggle'>
      Notifications
      <label class="toggle toggle-success">
        <input type="checkbox" ng-model="user.notify">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
    <div class='item item-toggle'>
      Media
      <label class="toggle toggle-success">
        <input type="checkbox" ng-model="user.media">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
    <div class="button-container">
      <button type="submit" class="button button-main button-block">Update Settings</button>
    </div>
  </form>
  <div class="button-container">
    <button ng-click="ctrl.logout()" class="button button-main button-block button-delete">Logout</button>
  </div>
</ion-content>
